
<h2> Welcome on Ruby on Rails </h2>

<%= link_to 'articles', controller: 'articles', class: 'vishu' %><br><br>
<%= link_to  'books', controller: 'books' %><br><br>
<%= link_to 'colleges', colleges_path  %><br><br>
<br>

 