    <div style="border:; background-color: skyblue; float: left;  height: 800px; width:1270px">

      <div style="border-color: green; border: solid; margin-top: 15px; float: left; background-color: white; margin-left: 230px; height: 380px; width:780px">
  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div style="border:; margin-left: 100px; height:340px; width:430px">
            
            <h1> Log in to Twitter</h1>

            <div>
              <%= f.email_field :email, autofocus: true, style: "border-radius: 4px  4px 4px 4px; height: 25px; width: 270px;", placeholder: "Phone, email or username" %>
            </div><br>

              <div>
              <%= f.password_field :password, autocomplete: "off", style: "border-radius: 4px  4px 4px 4px; height: 25px; width: 270px;", placeholder: "Password" %>
              </div><br>

              <div>
              <%= f.submit "Log in", style: "width: 75px;", class: "btn btn-default" %>

               <input type="checkbox">Remember me
              <span class="separator">·</span>
              <a href="#" style="text-decoration: none;">Forgot Password?</a>
            </div> <br>
      
            <p style=" color: grey; font-size: 17px"> New to Twitter?
              <a href="#" style="text-decoration: none; font-size: 17px">sign up now </a>
            </P>

            <p style=" color: grey; font-size: 17px"> Already using Twitter via text message?
            <a href="#" style="text-decoration: none; font-size: 17px">Activate your account </a></P>

          </div>
        <% end %>
      </div>
    </div>
 